header {
    background-color: #FFFFFF;
    display: flex;
    height: 115px;
}

h1 {
    font-size: 200%;
}

h2 {
    color: #FFFFFF;
    font-size:calc(14px + 3.5vw);
    text-align: center;
    font-style: italic;
}

.hero img {
    max-width: 110%;
    max-height: 110%;
    min-height: 200px;
    min-width: 200px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

header nav ul li {
    display: inline;
    margin-left: 0.1em;
}

header nav ul li a {
    color:blueviolet;
    text-decoration: none;
    background-color: black;
    padding: 1em;
}
header nav ul li a:hover {
    color: cadetblue;
    text-transform: uppercase;
}
.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #25242D;
    max-height: 650px;
    padding: 0px;
    min-height: 200px;
}

.inner {
    width: 80%;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 25% 40% 25%;
    column-gap: 1em;
    row-gap: 3em;
    text-align: center;
    margin: auto;
}

.gallery p {
    background-color: blueviolet;
    padding: 3em;
}

.reactivevanish {
    height: auto;
    max-width: 100%;
}
