body {
    font-size: 16px;
    font-family: "apparat", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

header {
    background-color: #FFFFFF;
    display: grid;
    height:calc(50px + 6vw);
    place-items: center;
    min-height: 100px;
    max-height: 120px;
    position: sticky;
    top: 0;
    border-bottom: solid #25242D 1vw;

}

header img {
    width: 100%;
    max-width: 200px;
    min-height: 80%;
    min-width: 150px;

}

h1 {
    color: #FFFFFF;
    font-size:calc(5vw);
    padding-top: 10vw;
    padding-bottom: 10vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: italic;
}

h2 {
    font-size: 3vw;
    text-align: center;
    place-self: center;
    max-height: 120px;
    padding-bottom: 2vw;
}

h3 {
    font-size: 2vw;
    text-align: left;
    max-height: 120px;
    padding-bottom: 2vw;
    font-style: italic;
}

h4 {
    font-size: 2vw;
    text-align: right;
    max-height: 120px;
    padding-bottom: 2vw;
    font-style: italic;
}

header .inner {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: 12% 88%;
}
header nav {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
}
header nav ul li {
    display: inline;
    margin-left: 0.1em;
}

header nav ul li a {
    color:black;
    text-decoration: none;
    padding: 0.8em;
    font-size:calc(10px + 1vw);
}

header nav ul li a:hover {
    color: orange;
    text-transform: uppercase;
}

.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #25242D;
    padding: 0px;
    overflow: hidden;
    min-height: 30vw;
}

.intro {
    font-size: calc(8px + 0.8vw);
    text-align: justify;
    justify-content: center;
    padding-bottom: 4vw;
}

.inner {
    width: 90%;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 25% 40% 25%;
    column-gap: 1em;
    row-gap: 3em;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.gallery p {
    background-color: blueviolet;
    padding: 3em;
}

.reactivevanish {
    height: auto;
    max-width: 100%;
}

.heroimg {
    width: 100%;
    height: 100%;
    background-image: url(../images/divingboard.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
}

main {
    padding-top: 3vw;
    padding-bottom: 4vw;

}
.gridcontainer {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    row-gap: 8vw;
    text-align: center;
    justify-content: center;
}

section {
    height: 40vw;
    max-height: 45em;
    width: auto;
    font-size: calc(0.11em + 1.25vw);
    text-align: justify;
}

aside {
    height: 40vw;
    max-height: 45em;
    width: auto;
}

aside img {
    border-radius: 20%;
    height: 100%;
    justify-content: center;
    object-fit: contain;
}

footer {
    background-color: #25242D;
    max-height: 20em;
    color: #FFFFFF;
    padding: 0.1em;
    margin: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    min-height: 12em;
}

footer img {
    min-height: fit-content;
    max-height: 50px;
    padding-top: 3.5em;
    opacity: 80%;
}

footer p {
    padding-top: 0.5em;
}

.top {
    --offset: 50px; 
    position: sticky;
    bottom: 20px;
    left: 1vw;    
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    text-decoration: none;
    padding: 15px;
    font-family: "apparat";
    color: black;
    background: #F389A2;
    border-radius: 100px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .heroimg {
        background-image: none;
    }
    .gridcontainer {
        grid-template-columns: 100%;
        row-gap: 1vw;
    }
    section {
        font-size: calc(8px + 0.8vw);
        padding-bottom: calc(1em + 4vw);
    }
    aside {
        padding-bottom: 0.5vw;
    }
    .hero {
        grid-template-columns: 100%
    }
    h1 {
        font-size: calc(0.6em + 5vw);
    }
    h2 {
    font-size: calc(0.8em + 3.5vw);
    }
    h3 {
    font-size: calc(0.8em + 3.5vw);
    text-align: center;
    font-style: normal;
    }
    h4{
    font-size: calc(0.8em + 3.5vw);
    text-align: center;
    font-style: normal;
    }
    aside img {
    height: 45vw;
    }
    aside {
    min-height: 50vw;
    }
}
@media only screen and (max-width: 520px) {
    section {
        padding-bottom: calc(4.5em + 6vw);
    }
    header img {
    width: 80px;
    min-height: none;
    min-width: none;
        
    }
}

@media only screen and (max-width: 415px) {
    section {
        padding-bottom: calc(3em + 5vw);
        min-height: 65vw;
    }
}
@media only screen and (max-width: 320px) {
    section {
        min-height: 100vw;
    }
}